/* Ensure this file is processed by PostCSS with Tailwind CSS plugin for @tailwind directives to work */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  background-color: #fff !important;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
  
}
::-webkit-scrollbar {
  width: 8px;
  background: #e5e7eb;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
}

